<h1>lx-ellipsis demo</h1>

<h2>Features</h2>

<ul>
  <li>Does not show "Show more" button if content has enough space to be shown without ellipsis.</li>
  <li>Hides "Show less" button in case the client size grows so much after pressing "Show more" before, that the content can be displayed without ellipsis in one line again.</li>
  <li>Uses the <a href="https://developer.mozilla.org/en-US/docs/Web/API/ResizeObserver" target="_blank">ResizeObserver API</a> to detect size changes of the <code>span</code> element that contains the content. Resize events are debounced with <code>500ms</code> by default to reduce change detection runs. This can be configured using the <code>LX_ELLIPSIS_DEBOUNCE_ON_RESIZE</code> injection token.</li>
</ul>

<h2>Examples</h2>

<h3>This one should be truncated:</h3>
<lx-ellipsis style="max-width: 800px;" [content]="longContent"></lx-ellipsis>

<h3>This one should be truncated when the viewport width is reduced:</h3>
<lx-ellipsis style="max-width: 800px;" [content]="'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam'"></lx-ellipsis>

<h3>This one should not be truncated:</h3>
<lx-ellipsis style="max-width: 800px;" [content]="'Hello World'"></lx-ellipsis>

<h3>Applying ellipsis when content grows:</h3>
<lx-ellipsis style="max-width: 800px;" [content]="editableContent"></lx-ellipsis>
<textarea [(ngModel)]="editableContent"></textarea>

<h3>Containing anchor HTML element:</h3>
<lx-ellipsis style="max-width: 800px;" [content]="contentWithAnchorHtml"></lx-ellipsis>